* {
    scroll-behavior: smooth;
}
body {
    background-color: whitesmoke;
    font-family: 'Merriweather Sans', sans-serif;
    margin: 0 0;
}

header {
    background-image: url("/header2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    color: whitesmoke;
    font-size: 50px;
    padding-top: 70px;
    padding-left: 60px;
}
.head {
    color: whitesmoke;
    font-size: 30px;
    font-weight: 400;
}
nav {
    text-align: right;
    padding-top: 10px;
    padding-right: 20px;
}
.navigation li{
    color:whitesmoke;
    font-size: 20px;
    display: inline;
    border: 2px solid whitesmoke;
    padding: 5px;
}
.navigation li:hover {
    background-color: #FF7930;
    color: #4E1A3D;
    transition: 0.4s;
    font-size: 24px;
}

h2{
    color:#000000;
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
}
h3 {
    color: #404040;
    font-size: 30px;
    text-align: center;
    border-bottom: 2px solid #00E0EA;
}
.projects-tab h4 {
    color: #4E1A3D;
}

.skills {
    font-size: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.education-tab {
    font-size: 15px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.education-tab div{
    background-color:#00E0EA;
    margin: 5px;
    padding: 8px;
    border-radius: 5px;
    color: #4E1A3D;
    width: 200px;
    text-align: center;
}
.fas {
    font-size: 55px;
    color: #4E1A3D;
}
.education-tab div p{
   color: whitesmoke;
   text-align: center;
}
.skills div{
    background-color: #4E1A3D;
    margin: 5px;
    padding: 10px;
    border-radius: 30px;
    color: #FF7930;
}
h3.about-headers {
    margin-top: 90px;
}
p{
    color:#4E1A3D;
    font-size: 15px;
    padding: 8px;
}
.new-link {
    color:whitesmoke;
    font-size:12px;
    text-decoration: underline;
}
.fa {
    padding: 5px;  
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
}
.social-media{
    text-align: center;
}
.social-media a{
    color: whitesmoke;
}

img.profile-pic {
    height: 90px;
    width: 80px;
    border-radius: 95px;
    margin-top: 20px;
}


.connect-me{
    font-size: 10px;
    font-family:'Merriweather Sans', sans-serif ;
}
a{
    text-decoration: none;
}
#current-nav{
    background-color: #FF7930;
    color: #4E1A3D;
    font-size: 24px;
}
.homepage{
    margin: 20px;
    background-color: #B5F2EE;
    padding: 5px;
}
.homepage-contact{
    background-color: #404040;
    padding: 5px;
    color: whitesmoke;
}
.homepage-contact p {
    color: whitesmoke;
}
.homepage-contact-footer-design {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.quiz-app{
    width: 200px;
    height: 250px;
    background-color: #00E0EA;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
}

.quiz-app:hover {
    box-shadow: 2px 2px 5px 5px #353535;
    background-color: #FF7930;
    transition: 0.2s;
}
h3#project-title {
    color: #4E1A3D;
    font-size: 20px;
    text-align: center;
    background-color: transparent;
    border: none;
}

.quiz-app p{
    color: #4E1A3D;
    text-align: center;
}
.projects-tab{
    margin: 20px;

}
.quiz-app img {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.projects-tab{
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #B5F2EE;
}
.copyright {
    text-align: center;
    border-top: 1px solid #00E0EA;
    margin: 0 0;
}
@media screen and (max-width:700px){
    h1{
        padding-top: 40px;
        padding-left: 20px;
        font-size: 30px;
    }
    .head{
        font-size: 15px;
    }
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 15px;
    }
    p{
        font-size: 14px;
    }
    img.profile-pic {
        height: 70px;
        width: 60px;
    }
    .skills div{
        font-size: 11px;
        padding: 5px;
        margin: 3px;
    }
    .hobbies li {
        font-size: 14px;
    }
    table{
        font-size: 12px;
        padding: 3px;
    }
    
    .quiz-app {
        width: 200px;
        height: 250px;
    }
    .navigation li {
        font-size: 10px;
    }
    .navigation li:hover {
        font-size: 13px;
    }
    #current-nav{
        font-size: 13px;
    }
    td{
        padding: 10px;
    }
    .edu{
        padding: 10px;
    }
}
@media screen and (max-width:400px){
    .social-media {
        font-size: 10px;
        padding: 4px;
    }
    .homepage-contact-footer-design {
        gap: 0px;
    }
}
@media screen and (max-width:350px){
    .navigation li {
        font-size: 8px;
        padding: 3px;
    }
    .navigation li:hover {
        font-size: 10px;
    }
}
