body {
    background-color: whitesmoke;
    font-family: 'Merriweather Sans', sans-serif;
    margin: 0 0;
}
header {
    background-image: url("/bg2.jpg");
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    
}
h1 {
    color: whitesmoke;
    font-size: 60px;
    padding-top: 14vh;
    padding-left: 5vw;
}
.head {
    color: whitesmoke;
    font-size: 30px;
    font-weight: 400;
}
nav {
    text-align: right;
    padding-top: 1vw;
    padding-right: 3vw;
}
.navigation {
    color:whitesmoke;
    font-size: 35px;
    margin: 5px;
}
h2{
    color: #03071e;
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
}
h3 {
    color:#03071e;
    font-size: 30px;
    margin-left: 5vw;
    border-bottom: 2px solid #03071e;
}
p,ul {
    color:#03071e;
    font-size: 20px;
    margin-left: 5vw;
}
.new-link {
    color:#03071e;
    font-size:15px;
}
.fa {
    padding: 2vh;  
    color: #03071e;
    text-decoration: none;
    font-size: 15px;
}
.social-media{
   width:180px;
   margin:0 auto;
}

img {
    height: 130px;
    width: 120px;
    margin:0 auto;
    border-radius: 50%;
}

td {
    margin-left: 5vw;
    padding: 6px 15px;
}
table {
    border-radius: 15px;
    margin-left: 5vw;
    padding: 0;
    width: 60%;
    background-color: #ffe8cc;
}
th {
    border-radius: 15px;
    padding: 6px 15px;
    background-color: bisque;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.edu {
    border-radius: 15px;
    padding: 6px 15px;
    margin: 0 0;
    background-color: bisque;
}
.connect-me{
    font-size: 20px;
    font-family:'Merriweather Sans', sans-serif ;
}