body {
    background-color: whitesmoke;
    font-family: 'Merriweather Sans', sans-serif;
    margin: 0 0;
}
header {
    background-image: url("bg2.jpg");
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    
}
h1 {
    color: #03071e;
    font-size: 60px;
    padding-top: 14vh;
    padding-left: 5vw;
}
.head {
    color: #03071e;
    font-size: 35px;
    font-weight: 400;
}
nav {
    text-align: right;
    padding-top: 1vw;
    padding-right: 3vw;
}
.navigation {
    color:#03071e;
    font-size: 30px;
    margin: 5px;
}
h2{
    color: #03071e;
    font-size: 50px;
    text-align: center;
    text-decoration:underline;
}
h3 {
    color:#03071e;
    font-size: 30px;
    margin-left: 5vw;
    border-bottom: 2px solid #03071e;
}
p,ul {
    color:#03071e;
    font-size: 20px;
    margin-left: 5vw;
}
.new-link {
    color:#03071e;
    font-size:15px;
}
.fa {
    padding: 2vh;  
    color: #03071e;
    text-decoration: none;
}
.social-media{
    padding-left: 42vw;
}
.phone {
    margin-left: 42vw;
}
img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.image {
    padding-left:45vw;
}

th,td {
    margin-left: 5vw;
    padding: 2px 4px;
    border: 2px ridge #03071e;
    height: 4vh;
    background-color: #ffe6ff;
    border-radius: 8px;
    border-collapse: collapse;

    
}
table {
    border-radius: 10px;
    margin-left: 5vw;
    padding: 1px;
    border: 2px solid #03071e;
    height: 4vh;
    background-color: #ffe6ff;
}
